

form .form-search {
    width: 170px;

}
@media (min-width: 768px) {
    form .form-search {
      width: 230px; 
    }
}
.search-button {
    border:none;
    background-color: transparent;
    padding: 0 5px;
}  